<%- include('partials/header') %>
    <div class="container">
        <h2 class="text-center">CODEByHacktiv8</h2>
        <p class="text-center">Belajar online tanpa perlu ribet yuk cek materinya...!</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>            
                    <th>Judul Course</th>
                    <th>Label</th>
                    <th>Price</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(e => { %>
                 <tr>
                     <td><%= e.name %> </td>
                     <td><%= e.label %> </td>
                     <td><%= format(e.price) %> </td>
                     <td>
                         <a href="/course/<%= e.id %> /show" class="btn btn-warning">Lihat</a>
                     </td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include('partials/footer') %> 
