<%- include('partials/header') %>
<div class="container">
    <% if (user.role == 'admin') { %>
        <form action="/course/<%= course.id %> /edit" method="post">
            <div class="form-group">
                <label for="name">Judul Course</label> <br>
                <input type="text" name="name" class="form-control" value="<%= course.name %> "> <br>
                <label for="label">Label Course</label> <br>
                <input type="text" name="label" class="form-control" value="<%= course.label %> "> <br>
                <label for="price">Harga Course</label> <br>
                <input type="text" name="price" class="form-control" value="<%= course.price %> "> <br>
                <br><br>
                <button type="submit" class="btn btn-primary">Edit Data</button>
            </div>
        </form> 
    <% } else { %>
        <h2 class="text-center">Anda Tidak Memiliki Hak Otorisasi</h2>
    <% } %>
</div>

<%- include('partials/footer') %> 
